<h1><%= @patient.name %></h1>

<%@appointments.each do |appointment| %>
   
    <p> <%= appointment.appointment_datetime.strftime ("%B %e, %Y at %H:%M")%> 
    with <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p>
<% end %>

