<h1>Doctor <%=@doctor.name%></h1>
<h2>Appointments: </h2>
<%@appointments.each do |appointment| %>
    <p> <%= appointment.appointment_datetime.strftime ("%B %e, %Y at %H:%M")%> 
    with <%= link_to appointment.patient.name, patient_path(appointment.patient) %></p>
<% end %>
